{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Welcome 
{% endblock %}

{% block content %}
    {% if username %}
        <h1 class="title">Welcome, {{ username | capitalize}}</h1> 
    {% endif %}

    {% if user_ip %}
        <h3 class="title">Your IP is: {{user_ip}}</h3>
    {% else %} 
        <a href="{{url_for('index')}}">Go Home</a>
    {% endif %}
    
    <div class="container">
        <h2>Create a new task</h2>
        {{ wtf.quick_form(todo_form) }}
    </div>

    <ul class="list-group">
        <div class="row justify-content-center">
            <div class="col-4">
                <h3 class="title">Todo list</h3>
                {% for todo in todos %}
                    {{macros.render_todo(todo)}}
                {% endfor %}
            </div>
        </div>  
    </ul>
{% endblock %}



