{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo) %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="mr-auto p-2">
            Task: {{ todo.to_dict().description }}
        </div>
        <div class="p-2">
            <span class="badge badge-primary badge-pill" style="font-size: 100%;">
                {%if todo.to_dict().done %}
                    Done
                {% else %}
                    To do
                {% endif %}
            </span>
        </div>
        <div class="p-2">
            <a href="{{ url_for('update', todo_id= todo.id, done=todo.to_dict().done) }}" class="btn d-inline-block btn-success">Update</a>
        </div>
        <div class="p-2">
            <a href="{{ url_for('delete', todo_id= todo.id)}}" class="btn d-inline-block btn-danger">Delete</a>
        </div>
    </li>
{% endmacro %}
